/* Kratos CSS Plus */
div#site-gonggao {
    line-height: 25px;
    height: 30px;
    background-color: #FFF;
    padding-left: 10px;
    color: #666;
    border-left: 5px solid #3E94D2;
    border-right: 5px solid #3E94D2;
    -webkit-box-shadow: 0 5px 5px #D3D3D3;
    box-shadow: 0 5px 5px #D3D3D3;
}

#site-gonggao .list {
    padding-left: 5px;
}

.site-gonggao-div {
    float: left;
}

.fa-volume-up:before {
    content: "\f028";
    color: #428bca;
}

#site-gonggao a {
    color: #1663B7;
}

#site-gonggao a:hover {
    color: #09F;
}

#site-gonggao-div2 {
    overflow: hidden;
    height: 30px;
}

#site-gonggao-div2 .list li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.kratos-post-content a {
    color: #00ccff;
}

.comment-body p a {
    color: #00ccff;
}

@media screen and (max-width: 768px) {
    .top {
        display: none;
    }
}

.top {
    overflow: hidden;
}

.top .title {
    margin: 0;
    line-height: 20px;
    padding-left: 0.5rem;
    font-size: 15px;
    background-color: #fff;
    height: 20px;
    border-bottom: 1px solid #eaeaea;
    font-weight: normal;
}

.top ul {
    list-style: none;
    padding: 0;
}

.top li {
    list-style: none;
    width: 50%;
    float: left;
    margin-bottom: 1px;
}

.top li a {
    display: block;
    background-color: #fff;
    margin-right: 1px;
    padding: 5px 20px 5px 140px;
}

.top img {
    float: left;
    margin: 8px 0 0 -120px;
    max-width: 100px;
    max-height: 70px;
}

.top h3 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    height: 35px;
    overflow: hidden;
}

.top p {
    overflow: hidden;
    height: 40px;
    color: #999999;
    font-size: 12px;
}

.float-left {
    float: left !important;
}

.d-block {
    display: block !important;
}

.widget_kratos_commentstab {
    margin: 0 0 25px;
    padding: 30px 10px 10px 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    border-radius: 0;
}

.recent_comments .profile {
    padding-top: .3125rem;
    font-size: .85rem;
}

.recent_comments .date {
    color: #777;
    font-size: .75rem;
}

.recent_comments .message {
    overflow: hidden;
    color: #394a58;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .87rem;
    word-break: keep-all;
}

.recent_comments a {
    display: block;
    padding: .8125rem .875rem;
    border-bottom: .0625rem solid #eee;
    font-size: .8125rem;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-lg-4 {
    width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.float-right {
    float: right !important;
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}

.mt-2, .my-2 {
    margin-top: .5rem !important;
}

#guest-apply {
    margin: 5px
}

.ravenclaw-links .card:hover {
    -webkit-box-shadow: 0 0.9375rem 0.625rem -0.625rem rgba(110, 110, 110, 0.5), 0 0.0625rem 0.25rem rgba(110, 110, 110, 0.3), 0 0 3.75rem rgba(110, 110, 110, 0.1) inset;
    -moz-box-shadow: 0 0.9375rem 0.625rem -0.625rem rgba(110, 110, 110, 0.5), 0 0.0625rem 0.25rem rgba(110, 110, 110, 0.3), 0 0 2.5rem rgba(110, 110, 110, 0.1) inset;
    box-shadow: 0 0.9375rem 0.625rem -0.625rem rgba(110, 110, 110, 0.5), 0 0.0625rem 0.25rem rgba(110, 110, 110, 0.3), 0 0 2.5rem rgba(110, 110, 110, 0.1) inset;
}

.ravenclaw-links .main div:nth-child(5n) .card-header {
    background-color: #e67e22
}

.ravenclaw-links .main div:nth-child(5n+1) .card-header {
    background-color: #3498db
}

.ravenclaw-links .main div:nth-child(5n+2) .card-header {
    background-color: #dc3545
}

.ravenclaw-links .main div:nth-child(5n+3) .card-header {
    background-color: #1abc9c
}

.ravenclaw-links .main div:nth-child(5n+4) .card-header {
    background-color: #f1c40f
}

.ravenclaw-links .main div:nth-child(5n+5) .card-header {
    background-color: #9b59b6
}

.ravenclaw-links .card-header {
    border-bottom: none;
    padding: 1.3rem 1.25rem 0.8rem;
}

.ravenclaw-links .card-title {
    margin-bottom: 0;
    font-size: 0.9375rem;
    color: #fff;
}

.ravenclaw-links .card-link {
    margin-bottom: 0;
    font-size: 0.8125rem;
    color: #fff;
}

.ravenclaw-links .card-body {
    background-color: #f5f5f5;
    padding: 1.25rem;
}

.ravenclaw-links .card-text {
    -webkit-line-clamp: 1;
}

.ravenclaw-links .card-footer {
    padding: .45rem 1.25rem;
    border-top: 0.0625rem solid #eee;
    background-color: #f5f5f5;
}

.ravenclaw-links .card-footer img {
    width: 1.0rem;
    height: 1.0rem;
    margin-top: 0.3125rem
}

.ravenclaw-links .text-muted {
    font-size: 0.875rem;
}

.ravenclaw-links .text-muted i {
    font-size: 0.9375rem;
}

.ravenclaw-links .text-muted .v3-fenlei {
    margin-right: 0.25rem;
}

.ravenclaw-links .exchange {
    border-top: solid 0.0625rem #eee;
}
